[Unit]
# A description used to identify what this service does.
Description=Run Minecraft Server
# Ensures that the service doesn't start until after networking has started.
After=network.target

[Service]
# The working directory.
# This should be set to wherever you want to run the task.
# This is typically the directory where the executable lives.
WorkingDirectory=/home/matt/minecraft

# The user and group you want to run this command as.
# Typically, I run commands as my own user (ubuntu) to simplify permissions.


# This line ensures the program restarts on its own in case the process crashes.
Restart=always
RestartSec=30

# The actual command to execute on boot.
# We create a screen instance called mc.
# This will alow us to attach to the screen instance if necessary.
# After that is the command itself.
# In this case, we run a bash script in the working directory.
ExecStart=/usr/bin/screen -DmS mc bash run.sh

[Install]
# The run level.
# Ensures the process starts at the right part of the boot process.
WantedBy=default.target
